<%= form_for(@curriculum_vitae, url: user_curriculum_vitaes_path(@user)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.label :objective %>
  	<%= f.text_field :objective %>

  	<%= f.label :work_experience %>
    <%= f.text_area :work_experience, placeholder: "Work experience..." %>

    <%= f.label :qualifications %>
    <%= f.text_area :qualifications, placeholder: "qualifications..." %>

    <%= f.label :education %>
    <%= f.text_area :education, placeholder: "Education..." %>

    <%= f.label :skills %>
    <%= f.text_area :skills, placeholder: "Skills..." %>
  </div>
  <%= f.submit "Save", class: "btn btn-primary" %>
<% end %>