<% @internship_assignments.each do |internship_recruitment, internship_assignments| %>
	<% if !internship_recruitment.nil? %>
		<div class="panel panel-default">

	      	<div class="panel-heading"> Decision internship <%= link_to internship_recruitment.title, internship_recruitment %> to
	      	    <%= internship_recruitment.company %> Company
	      		<span class="badge"><%= internship_recruitment.internship_assignments.count %></span>
	      	</div>
		    <div class="panel-body">
	    	    <% internship_assignments.each do |internship_assignment| %>
	    	    	<div class="panel panel-info">
		    	    	<div class="panel-heading"> Decision at <%= internship_assignment.created_at.to_date %>
	      					<span class="badge"><%= internship_assignment.assignments.count %></span>
	      					<span class="action">
	      						<%= link_to "View decision", internship_assignment %>
	      					</span>
	      				</div>


	      				<table class="table">
	      					<thead>
						      <tr>
						        <th>#</th>
						        <th>Student</th>
						        <th>Lecturer</th>
						        <th>Mentor</th>
						        <th>Start date</th>
						        <th>End date </th>
						      </tr>
						    </thead>
						    <tbody>
				    	    	<% internship_assignment.assignments.each do |assignment| %>
				    	    		<tr>
				   						<td>
					    					<%= link_to assignment.student.id, assignment.student %>
					    				</td>

					    				<td>
					    					<%= link_to assignment.student.name, assignment.student %>
					    				</td>

					    				<td>
					    					<%= link_to assignment.internship_assignment.lecturer.name, assignment.internship_assignment.lecturer %>
					    				</td>

					    				<td>
					    					<% if !assignment.mentor.nil? %>
					    					<%= link_to assignment.mentor.name, assignment.mentor %>
					    					<% end %>
					    				</td>

					    				<td>
					    					<%= assignment.start_date.nil? ? "" : assignment.start_date.to_date  %>
					    				</td>
					    				<td>
					    					<%= assignment.end_date.nil? ? "" : assignment.end_date.to_date  %>
					    				</td>
				  					</tr>
				    	    	<% end %>
			    	    	</tbody>
		    	    	</table>
	    	    	</div>
	  			<% end %>
	  		
		    </div>
		</div>
	<% end %>

<% end %>